[package]
name = "immutable-chunkmap"
version = "1.0.0"
authors = ["Eric Stokes <letaris@gmail.com>"]
publish = true
description = "A fast immutable map and set with batch insert and update methods, COW operations, and big O efficient implementations of set and merge operations"
categories = ["data-structures"]
keywords = ["map", "set", "immutable", "persistent", "functional"]
license = "MIT/Apache-2.0"
documentation = "https://docs.rs/immutable-chunkmap"
repository = "https://github.com/estokes/immutable-chunkmap"
edition = "2018"

[dependencies]
arrayvec = "0.7"
packed_struct = "0.6"
packed_struct_codegen = "0.6"

[dev-dependencies]
paste = "0.1"
rand = "0.8"
