[package]
name = "bench"
version = "0.2.0"
authors = ["Eric Stokes <letaris@gmail.com>"]
edition = "2018"

[profile.release]
lto = true

[dependencies]
immutable-chunkmap = {path = "../"}
rand = ">= 0.3"
num_cpus = ">= 1.0"

